## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [6]:
# 設定 data_path
dir_data = '../data/titanic'

In [7]:
f_app = os.path.join(dir_data, 'train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ../data/titanic\train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [11]:
df_shape = app_train.shape
print('df_row: ', df_shape[0]
     , 'df_column: ', df_shape[1])

df_row:  891 df_column:  12

#### 列出所有欄位

In [14]:
print(app_train.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

#### 截取部分資料

In [29]:
df0 = app_train.copy()

#--loc
df0.loc[0:10,'Name']
df0.loc[0:10,['Name','Sex','Age']]

#--iloc
df0.iloc[0:10,2:6]

   Pclass                                               Name     Sex   Age
0       3                            Braund, Mr. Owen Harris    male  22.0
1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2       3                             Heikkinen, Miss. Laina  female  26.0
3       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4       3                           Allen, Mr. William Henry    male  35.0
5       3                                   Moran, Mr. James    male   NaN
6       1                            McCarthy, Mr. Timothy J    male  54.0
7       3                     Palsson, Master. Gosta Leonard    male   2.0
8       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
9       2                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [38]:
#--unique
df0['Age'].unique

#--value_count()
df0['Age'].value_counts()

#--df calculate
df0['Age'].std()
df0['Age'].max()

#--loc
df0.loc[df0['Age'].idxmax(),:]

PassengerId                                     631
Survived                                          1
Pclass                                            1
Name           Barkworth, Mr. Algernon Henry Wilson
Sex                                            male
Age                                              80
SibSp                                             0
Parch                                             0
Ticket                                        27042
Fare                                             30
Cabin                                           A23
Embarked                                          S
Name: 630, dtype: object